<html>
    <head>
        <title>User-Auth | <%= title %></title>
        <link rel="icon" href="https://securityintelligence.com/wp-content/uploads/2018/10/si-advanced-authentication-feature.jpg" type="image" size="16x16">
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>

        <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>
        
        
        <%- include('_footer'); %>
        

        <%- script %>
    </body>
</html>